/* styles.css or global.css */
/* .page {
    border: 1px solid #ccc;
    padding: 20px;
    transition: all 2s;
}
*/
.perspective {
    -webkit-perspective: 1800px;
    perspective: 1800px;
}

.book-container {
    width: 50%; 
    height: auto; 
    overflow: visible; 
}

.frontpage,
.backpage {
    width: 100%;
    height: auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.frontpage {
    -webkit-transform: rotateY(0deg); 
    transform: rotateY(0deg);
}

.backpage {
    -webkit-transform: rotateY(180deg); 
    transform: rotateY(180deg);
}

.book-container:hover .frontpage {
    transform: rotateY(-22.5deg); 
}

.book-container:hover .backpage {
    transform: rotateY(0deg); 
}

.origin-left {
    transform-origin: left; 
}

.shadow-left {
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.3);
    width: auto;
    background-color: #ffed698b;
} 
